html{
  line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* ======================
IMPORTS
=========================*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600&display=swap');


/* ======================
TYPOGRAPHY STYLING
=========================*/

html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 125%;
  color: black;
}

h1, button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 5rem;
}

h2, label {
  font-size: 1.6rem;
}

button {
  font-size: 1rem;
}


/* ======================
GENERAL STYLING
=========================*/

.wrapper {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1, h2, p, button, label {
    margin: 0;
    padding: 0;
    color: white;
}

button {
  border: none;
  color: black;
}

section {
    padding: 3rem 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.background {
  background: url('https://images.unsplash.com/photo-1527515234283-d93c5f8486a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=626&q=80') center;
  background-size: cover;
  background-color: rgba(161, 74, 74, 0.3);
  background-blend-mode: multiply;
}


/* ======================
HEADER
=========================*/

header {
  height: 35vh;
}

header .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  /* This text shadow effect was inspired by: https://css-tricks.com/how-to-create-neon-text-with-css/ */
  text-shadow:
    0 0 7px rgb(143, 188, 209),
    0 0 10px rgb(195, 197, 228),
    0 0 82px rgb(134, 196, 238),
    0 0 92px rgb(100, 147, 209),
    0 0 102px #0fa,
    0 0 151px rgb(99, 159, 214);
}


/* ======================
DESCRIPTION
=========================*/

.description {
  padding: 1rem 0;
}

.description .wrapper {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.description h2 span {
  display: block;
}

.description p {
  margin-top: 1rem;
}


/* ======================
INPUT
=========================*/

.input {
  padding: 2rem 0 14em 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(63, 150, 177));
  background-blend-mode: multiply;
}

.input .wrapper {
  position: relative;
}

.formUrl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  margin-top: 1rem;
  width: 22rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

button {
  /* This button was inspired by Juno instructor Paul Rocca */
  position: relative;
  top: 0;
  margin-top: 1.1rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  background:rgb(146, 206, 218);
	box-shadow: 0px 10px 0px #105864;
}

button:hover {
  background:rgb(114, 173, 185);
}

button:active {
    box-shadow: 0px 4px 0px #105864;
    top: 6px;
}

.status {
  position: absolute;
  top: 15.5rem;
  left: 50%;
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

.statusFlashing {
  animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
  /* This animation was inspired by: https://codepen.io/engsiang/pen/eWeNOP */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}


/* ======================
OUTPUT
=========================*/

.output {
  padding-top: 0.5rem;
  background: rgb(63, 150, 177);
}

.output p {
  color: black;
}

.resultsGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto 0 auto;
  height: 12.5rem;
  width: 23rem;
  border-radius: 10px;
  border: 4px solid black;
}

.cleanGroup {
  background-color: rgba(63, 170, 63, 0.8);
}

.flaggedGroup {
  background-color: rgba(170, 63, 63, 0.8);
}

.resultsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

.resultsAddress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0.3rem 0;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(196, 44, 44, 0.9);
}

.resultsAddress p {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cleanAddress {
  background-color: rgba(33, 202, 56, 0.9);
}

.resultsDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.cleanDetails {
  flex-direction: column;
  margin: 2rem 0;
  font-size: 2rem;
}


/* ======================
MEDIA QUERIES
=========================*/ 

@media (max-width: 940px) {
  .background {
    background-color: blue;
  }
}

@media (max-width: 768px) {
  .background {
    background-color: red;
  }

  h1 {
    font-size: 3.2rem;
  }

  .description h2 {
    font-size: 1.2rem;
  }

  .description p span {
    display: block;
  }

  input[type=text] {
    width: 18rem;
  }

  .status {
    font-size: 2rem;
  }

  .resultsGroup {
    width: 20rem;
  }
}

@media (max-width: 480px) {
  .background {
    background-color: green;
  }

  h1 {
    font-size: 2.4rem;
  }

  input[type=text] {
    width: 15.4rem;
  }

  .resultsGroup {
    width: 15rem;
  }

}

@media (max-width: 350px) {
  .background {
    background-color: purple;
  }
}